body {
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.developer {
    color: black;
    z-index: 11;
    transform: translateX(560px);
}

.description {
    font font-family: Days One; 
    color: black;
    transform: translate(750px, -100px);
}


 