body {
    background-color: #001a42;
    background: linear-gradient(to right, black -50%, #012660 50%, black 150%);
    margin: 0px;
    width: 100%;
    height: 100%;
}

.TopBar {
    position: fixed;
    width: 100%;
    height: 3%;
    top: -5px;
    padding: 60px 0px 60px 0px;
    background-color: white;
    box-shadow: 20px 20px 140px black;
    color: #ffbf00;
    z-index: 10; 
    transition: 0.6s;
}

.TopBar ul, li {
    top: 3px;
    font-family: sans-serif;
    display: inline;
    padding-left: 20px;
    color: white;
}

.Title {
    font-family: Audiowide;
    font-size: 70px;
    display: inline;
    color: black;
    text-decoration: none;
}

.ml {
    font-size: 10;
    text-decoration: none;
    font-family: Alef;
    color: black;
    transition: 0.2s;
}

.ml:hover {
    color: #7ce5ea;
    cursor: pointer;
}

.Games {
    color: #ffbf00;
    background-color: black;
    cursor: pointer;
    padding: 11px 40px 12px 40px;
    box-shadow: 10px 10px 80px black;
    transition: 0.2s;
}

.MODS {
    text-decoration: none;
    font-family: Alef;
    color: black;
    padding: 0px 10px 0px 10px;
    transition: 0.2s;
}

.MODS:hover {
    color: #ffbf00;
    background-color: black;
    cursor: pointer;
    padding: 10px 40px 10px 40px;
    box-shadow: 10px 10px 80px black;
}

.About {
    text-decoration: none;
    font-family: Alef;
    display: inline;
    color: black;
    transition: 0.2s;
}

.About:hover {
    color: #ffbf00;
    background-color: black;
    cursor: pointer;
    padding: 10px 60px 10px 60px;
    box-shadow: 10px 10px 80px black;
}

.birdie {
    padding: -30px 0px 0px 0px;
    float: right;
    display: inline;
    color: black;
    z-index: 11;
    transition: 0.4s;
    transform: translate(0px, -40px);
    color: white;
}

.birdie:hover {
    transform: translate(0px, -80px);
    color: black;
}

.GameSelection {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.SecondGameEver {
    color: white;
    background-color: black;
    border-color: white;
    border-width: 10;
    border-radius: 10px;
    border-style: solid;
    align-content: center;
    text-align: center;
    transform: translate(50px, 225px);
    width: 600px;
    padding-top: 350px;
    padding-bottom: 15px;
    z-index: 10;
    float: left;
    transition: 0.3s;
}

.SecondGameEver:hover {
    transform: translate(45px, 220px);
    box-shadow: 7px 7px #7ce5ea;
    border-color: #7ce5ea;
    border-width: 7px;
}

.FirstGameEver {
    color: white;
    background-color: black;
    border-color: white;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    align-content: center;
    text-align: center;
    transform: translate(200px, -245px);
    width: 600px;
    padding-top: 350px;
    padding-bottom: 15px;
    z-index: 10;
    float: right;
    transition: 0.3s;
}

.FirstGameEver:hover {
    transform: translate(207px, -252px);
    box-shadow: -7px 7px #7ce5ea;
    border-color: #7ce5ea;
    border-width: 7px;
}



